<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/informacion-user"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Editar Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-grid class="grid">
      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div><ion-label class="subtitulos">Nombre:</ion-label></div>
        </ion-col>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div><input [(ngModel)]="usuario.nombre" type="text" class="cajas" value="{{usuario.nombre}}"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div><ion-label class="subtitulos">Apellido:</ion-label></div>
        </ion-col>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div><input [(ngModel)]="usuario.apellido" type="text" class="cajas" value="{{usuario.apellido}}"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div><ion-label class="subtitulos">Correo:</ion-label></div>
        </ion-col>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div><input [(ngModel)]="usuario.correo" type="email" class="cajas" value="{{usuario.correo}}"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div><ion-label class="subtitulos">Contraseña:</ion-label></div>
        </ion-col>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div><input [(ngModel)]="usuario.pass" type="password" class="cajas" value="usuario.pass"></div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="2" sizeMd="2" sizeXs="2">
          <ion-buttons>
            <ion-button>
              <label for="file-open" class="subtitulos">Imagen:<ion-icon name="images"></ion-icon></label>
              <input (change)="NuevaImagen($event)" id="file-open" style="display:none;" type="file" accept="image/*">
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col sizeLg="10" sizeMd="10" sizeXs="10">
          <ion-label class="subtitulos" *ngIf="usuario.image !== ''">¡Imagen Cargada Exitosamente!</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
          <div class="buttonGuardar"><ion-button (click)="alertaCreacion()">Guardar</ion-button></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-content>
