.grid{
  width:70%;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:rgb(201, 196, 196);
}

.subtitulos{
	font-weight:bold;
	display:inline-block;
}

.cajas{
  width:100%;
	padding:3px 10px;
	border:1px solid #ffffff;
	border-radius:3px;
	background-color:#ffffff;
	margin:8px 0;
	display:inline-block;
	color:black;
}

.buttonGuardar{
	width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}