<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home/informacion-user']">
        <ion-icon name="person-circle-sharp"></ion-icon>
        <label>Perfil</label>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Consulta Conciertos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let concert of conciertos" [routerLink]="['/home/ver-concierto', concert.id]">
    <ion-label>{{concert.concierto}}</ion-label>
  </ion-item> 
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" [routerLink]="['/home/crear-concierto']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
