<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home/crear-concierto']">
        <ion-icon name="add"></ion-icon>
        <label> Crear</label>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Consulta Conciertos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let concert of conciertos" [routerLink]="['/home/ver-concierto', concert.id]">
    <ion-label>{{concert.concierto}}</ion-label>
  </ion-item>
  </ion-list>
</ion-content>
