<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Información Del Usuario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img src="{{usuario.image}}" class="imgPerfil"/>
    <ion-card-content>
      <div class="titulo"><ion-label>{{usuario.nombre}} {{usuario.apellido}}</ion-label></div>  
      <ion-grid>
        <ion-row>
          <ion-col sizeLg="2" sizeMd="3" sizeXs="4">
              <label class="subtitulo">Correo:</label>
          </ion-col>
          <ion-col sizeLg="10" sizeMd="9" sizeXs="8">
            <label class="subtitulo">{{usuario.correo}}</label>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="2" sizeMd="3" sizeXs="4">
              <label class="subtitulo">Contraseña:</label>
          </ion-col>
          <ion-col sizeLg="10" sizeMd="9" sizeXs="8">
            <input class="subtitulo" type="password" disabled="true" value="usuario.pass"/>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col sizeLg="6" sizeMd="6" sizeXs="6">
            <div class="buttonGuardar"><ion-button [routerLink]="['/home/editar-user', usuario.id]">Editar</ion-button></div>
          </ion-col>
          <ion-col sizeLg="6" sizeMd="6" sizeXs="6">
            <div class="buttonGuardar" (click)="logout()"><ion-button>Salir</ion-button></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
